/* bendras CSS */
body {
  font-family: 'Montserrat', Arial, sans-serif;
}

i {
  margin-left: 0;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  /* line-height: 100px; */
  color: #E79E4F;
  margin-bottom: 30px;
}

h2 {
  font-size: 45px;
  font-weight: 900;
  /* line-height: 100px; */
  color: #E79E4F;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  font-weight: 600;
  /* line-height: 100px; */
  color: #E79E4F;
  margin-bottom: 30px;
}

p {
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  color: #E79E4F;
}

#navbarTogglerDemo01 {
  text-align: right;
}

.section-main {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 8%;
  padding-right: 8%;
}

/* headerio CSS */
.navbar {
  background-color: transparent;
  padding: 0;
  margin-right: 8%;
}

.header-title {
  margin-left: 8%;
  opacity: 1;
}

.vardas-raide {
  opacity: 1;
  font-size: 3rem;
  font-weight: 800;
  margin-right: -4px;
  color: #F7E2E2;
}

.vardas {
  opacity: 1;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 2px;
  color: #F7E2E2;
}

.pavarde {
  opacity: 1;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #F7E2E2;
}

.navigacija-linkas {
  opacity: 1;
  color: #F7E2E2;
  margin-left: 7px;
  font-weight: 600;
  margin-top: 40px;
  letter-spacing: 0.9px;
  vertical-align: -24px;
}

/* ______greeting CSS______ */

.opacity {
opacity: 0;
}

.margin-opacity-left {
  padding-left: 2%;
  opacity: 0.4;
}

.margin-opacity-right {
  padding-right: 2%;
  opacity: 0.4;
}

.greeting-small {
  display: none;
}

.greeting-pic-css {
  position: absolute;
  opacity: 0;
  z-index: 5;
}

.greeting-pic-not {
  width: 480px;
  border-radius: 100%;
  position: absolute;
  opacity: 0;
  z-index: 4;
}

.greeting-pic:hover {
  filter: brightness(80%);
}

.main-div-hi {
  margin-top: auto;
  margin-bottom: auto;
}


.col-lg-6 {

  padding: 0;
}

.hole {
  height: 100vh;
  margin: 0;
  z-index: 7;
  position: relative;
  background-image: url(images/dream.jpg);
}

.skyle {

}

.container-fluid {
  /* padding: 0; */
}

.greeting-hi {
  margin-left: 100px;
  opacity: 0;
}

.greeting-iam {
  opacity: 0;
  margin-left: 200px;
}

.greeting-name {
  opacity: 0;
  font-size: 90px;
}

.div-who {
  margin-top: 18px;
  position: absolute;
  margin-left: 6%;
}

.who {
  text-align: left;
  line-height: 35px;
  margin-left: 6%;
  margin-bottom: 100px;
}

.who2 {
  margin-top: -90px;
}

.hope {
  font-size: 10px;
  text-align: right;
  margin-top: -30px;
}

.greeting-who {
  opacity: 0;
}


/* _________about CSS_________ */

.fa-regular {
  padding-left: 0;
}

#about.section-main {
  position: relative;
  background-color: rgba(231, 158, 79, .7);
  z-index: 10;
}

.course-link {
color: #1A1C20;
}

.course-link:hover {
color: #F7E2E2;
}

.about-heading {
  color: #1A1C20;
}

.about-text {
  text-indent: 50px;
  color: #1A1C20;
}

.skills-heading {
  text-align: center;
  color: #1A1C20;
  margin-bottom: 20px;
  margin-top: 15px;
}

.skill-list {
  font-size: 25px;
  font-weight: 400;
  display: table;
  margin: 0 auto;
}


/* __________exp CSS_________ */


#experience.section-main {
  background-color: rgba(15, 16, 19, 1);
  position: relative;
  z-index: 1;
}

.exp-heading {
  text-align: center;
  color: #E79E4F
}

.exp-heading-2 {
  text-align: center;
  margin-top: 100px;
  color: #E79E4F
}

.exp-row {
  margin-top: 100px;
}

.exp-name {
  margin-bottom: 5px;
  color: #E79E4F;
}

.exp-date {
  color: #F7E2E2;
  margin-right: 20px;
  font-weight: 600;
}

.exp-work {
  color: gray;
}

.exp-details {
  color: #F7E2E2;
}

.exp-descr {
  color: #F7E2E2;
  margin-bottom: 0;
}

.button-more:hover {
  color: #F7E2E2;
}



.button-more {
  padding-left: 0;
  border: none;
  background-color: transparent;
  color: #E79E4F;
  background-color: inherit;
}


/* _________Hobbies__________ */

.overflow2 {
overflow: hidden;
position: absolute;
background-color: black;
}

#hobbies {
  position: relative;
  z-index: 1;
}

#hobbies.section-main {
  background-color: rgba(231, 158, 79, .97);
}

.hobbies-heading {
  text-align: center;
  margin-bottom: 50px;
  color: #1A1C20;
}

.hobbies-text {
  font-size: 2rem;
  line-height: 1.5;
  color: #1A1C20;
  text-align: center;
  margin-right: 50px;
  margin-left: 20%;

}

.hobbies-image {
  width: 70%;
  border-radius: 10%;
  margin: 20px;
}

.hobbies-fb {
  color: #1A1C20;
}

.hobbies-fb:hover {
color: #F7E2E2;
}

/* _________Contact__________ */

#contacts.section-main {
background-color: rgba(15, 16, 19, 0.97);
position: relative;
z-index: 2;

}

.contacts-image {
  width: 360px;
  border-radius: 10%;
  margin: 20px;
}

.contacts-heading {
margin-left: 140px;
}

.contacts-list {
margin-left: 110px;
list-style-type: none;
}

.contacts-icon {
  font-size: 3rem;
  margin-top: 25px;
  color: #F7E2E2;
  margin-right: 30px;
}

.contacts-icon:hover {
color: #E79E4F;
}

.list-text {
font-size: 1.5rem;
color: #F7E2E2;
}

.footer {
  margin-top: 100px;
  text-align: center;
  color: #F7E2E2;
  font-size: 1.2rem;
}

.contacts-picture {
  text-align: right;
}

.backgroundo-sec {
  background-image: url(images/dream.jpg);
}

.backgroundo-sec2 {
  background-image: url(images/backg2.jpg);
}
